.relative {
    position: relative;
    top: 0px;
    left: 100px;
    width: 30%;
    border: 2px solid green;
    font-size: 1.5rem;
    padding: 5px;
}

.absolute {
    width: 30%;
    border: 2px solid goldenrod;
    font-size: 1.5rem;
    padding: 5px;
    position: absolute;
    right: 0;
}

/* .container {
    border: 2px solid red;
    width: 50%;
    position: relative;
}

.container p {
    border: 5px double grey;
    width: fit-content;
    position: absolute;
    top: 0;
} */

.fixed {
    width: 30%;
    border: 2px solid red;
    font-size: 1.5rem;
    padding: 5px;
    position: fixed;
    right: 0;
    bottom: 30px;
}

.sticky {
    width: 30%;
    border: 2px solid blue;
    font-size: 1.5rem;
    padding: 5px;
    position: sticky;
    top: 10px;
}