/* h2 {
    font-size: 2rem;
    z-index: 20;
    position: relative;
}

img {
    height: 250px;
    position: absolute;
    top: 0;
    z-index: 10;
} */

div {
    display: inline;
    width: 20%;
}

.div-1 {
    border: 4px dashed royalblue;
    font-size: 2.5rem;
    padding: 8px;
    margin-bottom: 10px;
}

.div-2 {
    border: 4px dashed lightcoral;
    font-size: 2.5rem;
    padding: 8px;
    margin-bottom: 10px;
}

.div-3 {
    border: 4px dashed darkorange;
    font-size: 2.5rem;
    padding: 8px;
}

a {
    font-size: 2rem;
    text-decoration: none;
    padding: 6px;
    display: block;
    width: 50%;
}

.inline-1 {
    border: 3px solid black;
    margin-top: 20px;
}

.inline-2 {
    border: 3px solid aquamarine;
    margin-top: 20px;
}

.inline-3 {
    border: 3px solid crimson;
    margin-top: 20px;
}

span {
    font-size: 3rem;
    margin-top: 20px;
    border: 8px solid gainsboro;
    padding: 8px;
    display: inline-block;
    width: 40%;
}

b {
    font-size: 2.3rem;
}