* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    padding: 20px;
    background-color: #d2d1d1;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    max-width: 450px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    font-family: cursive;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#addTodo {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}

#addTodo:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
}

li {
    background-color: #eeeded;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

.remove-btn {
    background-color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}