/*
   1. Element Selector
   2. Class Selector
   3. Id Selector 
*/

/* h1 {
    font-size: 50px;
}

.para {
    font-size: 25px;
    color: red;
}

#title {
    text-align: center;
}

.para1 {
    font-style: italic;
} */

div .center,
h1.center {
    text-align: center;
}

.image {
    height: 300px;
}

[alt~=Bird] {
    border: 2px solid black;
}

input[type~=text]:enabled {
    background-color: darksalmon;
}

input[type~=text]:disabled {
    background-color: violet;
}